.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}
.table {
  width: 100%;
}

th {
    text-align: center;
    width: 20%;
   
}
td {
  
    width: 20%;
    text-align: center
}
