<h1>Shopping Cart</h1>
<p class="card-text" *ngIf="items">You have    {{items.length}}   items in your shopping cart</p>
<div class="row col-10" *ngIf="cart">
    <button 
    *ngIf="items"
    (click)="clearCart()"
    class="btn btn-dark btn-sm">Clear Shopping Cart</button>
 
  
  <table class="table" *ngIf="items">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total:</th>
      </tr>
    </thead>
    <tbody >
        <tr scope="row" *ngFor="let item of items">
            <td>
              <div [style.backgroundImage]="'url(' +item.value.product.imageUrl + ')'" class="thumbnail">
              </div>
            </td>
            <td>
              {{item.value.product.title}}
            </td>
            <td>
              
              <div class="row no-gutters">
                  <div class="col-2">
                    <button 
                     (click)="removeFromCart(item)"
                      class="btn btn-secondary btn-block">-</button> 
                  </div>
                  <div class="col text-center">
                      {{item.quantity}}
                  </div>
                  <div class="col-2">
                    <button 
                     (click)="addToCart(item)"
                      class="btn btn-secondary btn-block">+</button> 
                  </div>
                </div>
            </td>
            <td>
              {{item.value.product.price}}
            </td>   
            <td>
              {{item.value.product.price * item.quantity}}
            </td>  
        </tr>
      </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      
      </tr>
    </tfoot> 
  </table> 
  <a 
  *ngIf="items"
  routerLink="/check-out"
  class="btn btn-primary">Check Out</a>
 
</div>
