<h1>Shopping Cart</h1>
<p class="card-text" *ngIf="items">You have    {{items.length}}   items in your shopping cart</p>
<div class="row col-10" *ngIf="cart">
    <button 
    *ngIf="items.length"
    (click)="clearCart()"
    class="btn btn-dark btn-sm">Clear Shopping Cart</button>
 
  
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" style="width: 230px">Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
        <th class="text-right" style="width: 200px">Total:</th>
      </tr>
    </thead>
    <tbody *ngIf="!empty">
        <tr *ngFor="let item of items">
            <td>
              <div [style.backgroundImage]="'url(' +item.value.product.imageUrl + ')'" class="thumbnail">
              </div>
            </td>
            <td>
              {{item.value.product.title}}
            </td>
            <td>
              {{item.quantity}}
            </td>
            <td>
              {{item.value.product.price}}
            </td>   
            <td>
              {{item.value.product.price * item.quantity}}
            </td>  
        </tr>
      </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      
      </tr>
    </tfoot> 
  </table> 
  <a 
  *ngIf="items.length"
  routerLink="/check-out"
  class="btn btn-primary">Check Out</a>
 
</div>
