<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart">
 
  
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>
              <div [style.backgroundImage]="'url(' +item.value.product.imageUrl + ')'" class="thumbnail">
              </div>
            </td>
            <td>
              {{item.value.product.title}}
            </td>
            <td>
              {{item.value.quantity}}
            </td>
            <td>
              {{item.value.product.price}}
            </td>   
            <td>
              {{item.value.product.price * item.value.quantity}}
            </td>  
        </tr>
      </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total Price:</th>
      </tr>
    </tfoot> 
  </table> 
  <button 
    (click)="clearCart()"
    class="btn btn-danger btn-sm">Clear Shopping Cart</button>
</div>
